In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets

In [8]:
data = pd.read_csv("./Tweets.csv")
print(data)

                 tweet_id airline_sentiment  airline_sentiment_confidence  \
0      570306133677760513           neutral                        1.0000
1      570301130888122368          positive                        0.3486
2      570301083672813571           neutral                        0.6837
3      570301031407624196          negative                        1.0000
4      570300817074462722          negative                        1.0000
...                   ...               ...                           ...
14635  569587686496825344          positive                        0.3487
14636  569587371693355008          negative                        1.0000
14637  569587242672398336           neutral                        1.0000
14638  569587188687634433          negative                        1.0000
14639  569587140490866689           neutral                        0.6771

               negativereason  negativereason_confidence         airline  \
0                         NaN                        NaN  Virgin America
1                         NaN                     0.0000  Virgin America
2                         NaN                        NaN  Virgin America
3                  Bad Flight                     0.7033  Virgin America
4                  Can't Tell                     1.0000  Virgin America
...                       ...                        ...             ...
14635                     NaN                     0.0000        American
14636  Customer Service Issue                     1.0000        American
14637                     NaN                        NaN        American
14638  Customer Service Issue                     0.6659        American
14639                     NaN                     0.0000        American

      airline_sentiment_gold             name negativereason_gold  \
0                        NaN          cairdin                 NaN
1                        NaN         jnardino                 NaN
2                        NaN       yvonnalynn                 NaN
3                        NaN         jnardino                 NaN
4                        NaN         jnardino                 NaN
...                      ...              ...                 ...
14635                    NaN  KristenReenders                 NaN
14636                    NaN         itsropes                 NaN
14637                    NaN         sanyabun                 NaN
14638                    NaN       SraJackson                 NaN
14639                    NaN        daviddtwu                 NaN

       retweet_count                                               text  \
0                  0                @VirginAmerica What @dhepburn said.
1                  0  @VirginAmerica plus you've added commercials t...
2                  0  @VirginAmerica I didn't today... Must mean I n...
3                  0  @VirginAmerica it's really aggressive to blast...
4                  0  @VirginAmerica and it's a really big bad thing...
...              ...                                                ...
14635              0  @AmericanAir thank you we got on a different f...
14636              0  @AmericanAir leaving over 20 minutes Late Flig...
14637              0  @AmericanAir Please bring American Airlines to...
14638              0  @AmericanAir you have my money, you change my ...
14639              0  @AmericanAir we have 8 ppl so we need 2 know h...

      tweet_coord              tweet_created tweet_location  \
0             NaN  2015-02-24 11:35:52 -0800            NaN
1             NaN  2015-02-24 11:15:59 -0800            NaN
2             NaN  2015-02-24 11:15:48 -0800      Lets Play
3             NaN  2015-02-24 11:15:36 -0800            NaN
4             NaN  2015-02-24 11:14:45 -0800            NaN
...           ...                        ...            ...
14635         NaN  2015-02-22 12:01:01 -0800            NaN
14636         NaN  2015-02-22 11:59:46 -0800          Texas
14637         NaN  2015-02-22 11:59:15 -0800  Nigeria,lagos
14638         NaN  2015-02-22 11:59:02 -0800     New Jersey
14639         NaN  2015-02-22 11:58:51 -0800     dallas, TX

                    user_timezone
0      Eastern Time (US & Canada)
1      Pacific Time (US & Canada)
2      Central Time (US & Canada)
3      Pacific Time (US & Canada)
4      Pacific Time (US & Canada)
...                           ...
14635                         NaN
14636                         NaN
14637                         NaN
14638  Eastern Time (US & Canada)
14639                         NaN

[14640 rows x 15 columns]

In [13]:
data.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [14]:
data.tail()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada)
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN

In [10]:
data.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
negativereason                   5462
negativereason_confidence        4118
airline                             0
airline_sentiment_gold          14600
name                                0
negativereason_gold             14608
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [15]:
data.describe()

,tweet_id,airline_sentiment_confidence,negativereason_confidence,retweet_count
count,1.464000e+04,14640.000000,10522.000000,14640.000000
mean,5.692184e+17,0.900169,0.638298,0.082650
std,7.791112e+14,0.162830,0.330440,0.745778
min,5.675883e+17,0.335000,0.000000,0.000000
25%,5.685592e+17,0.692300,0.360600,0.000000
50%,5.694779e+17,1.000000,0.670600,0.000000
75%,5.698905e+17,1.000000,1.000000,0.000000
max,5.703106e+17,1.000000,1.000000,44.000000

In [16]:
data.drop("negativereason", axis=1, inplace=True);

In [18]:
data.drop("negativereason_confidence", axis=1, inplace=True);

In [19]:
data.drop("airline_sentiment_gold", axis=1, inplace=True);

In [20]:
data.drop("negativereason_gold", axis=1, inplace=True);

KeyError: "['negativereason_gold'] not found in axis"

In [21]:
data.describe()

           tweet_id  airline_sentiment_confidence  retweet_count
count  1.464000e+04                  14640.000000   14640.000000
mean   5.692184e+17                      0.900169       0.082650
std    7.791112e+14                      0.162830       0.745778
min    5.675883e+17                      0.335000       0.000000
25%    5.685592e+17                      0.692300       0.000000
50%    5.694779e+17                      1.000000       0.000000
75%    5.698905e+17                      1.000000       0.000000
max    5.703106e+17                      1.000000      44.000000

In [23]:
data.isnull().sum()

tweet_id                            0
airline_sentiment                   0
airline_sentiment_confidence        0
airline                             0
name                                0
retweet_count                       0
text                                0
tweet_coord                     13621
tweet_created                       0
tweet_location                   4733
user_timezone                    4820
dtype: int64

In [24]:
data.drop("tweet_coord", axis=1, inplace=True)
data.drop("tweet_location", axis=1, inplace=True)
data.drop("user_timezone", axis=1, inplace=True)

In [25]:
data.isnull().sum()

tweet_id                        0
airline_sentiment               0
airline_sentiment_confidence    0
airline                         0
name                            0
retweet_count                   0
text                            0
tweet_created                   0
dtype: int64

In [27]:
x = data.iloc[:, 0:-1]

In [29]:
y = data.iloc[:, -1 ]

In [30]:
from sklearn import train_test_split

ImportError: cannot import name 'train_test_split' from 'sklearn' (/Users/pratik/My_Folder/ML_Data_Science/First_Environment/env/lib/python3.9/site-packages/sklearn/__init__.py)

In [12]:
#Creating a function that takes care of all the preprocessing stuff.
def preprocess():

  trained['Tweet'] = trained['Tweet'].str.lower() # Ensuring all words in the Tweet column of training data are lowercased

  # Parsing the stop_words.txt file and storing all the words in a list.
  stopwords = []
  with open('stop_words.txt','r') as file:    
      for line in file:         
          for word in line.split():            
              stopwords.append(word)

  # Removing all stopwords from all the tweets in training data.
  trained["Tweet"] = trained["Tweet"].apply(lambda func: ' '.join(sw 
                                            for sw in func.split() 
                                            if sw not in stopwords))
  #Training Data
  trained['Tweet'] = trained['Tweet'].str.replace(r'http?://[^\s<>"]+|www\.[^\s<>"]+', '') # Removing hyperlinks from all the tweets
  trained['Tweet'] = trained['Tweet'].str.replace('@[A-Za-z0-9]+', '') # Removing usernames from all the tweets.
  trained['Tweet'] = trained['Tweet'].str.replace(r'\B#\w*[a-zA-Z]+\w*', '') # Removing hashtags, including the text, from all the tweets
  trained['Tweet'] = trained['Tweet'].str.replace('\d+', '') # Removing numbers from all the tweets

  special_chars = ["!",'"',"%","&","amp","'","(",")", "*","+",",","-",".",
                  "/",":",";","<","=",">","?","[","\\","]","^","_",
                  "`","{","|","}","~","–","@","#","$"]

  for c in special_chars:
      trained['Tweet'] = trained['Tweet'].str.replace(c,'') # Removing all special characters from all the tweets